@use './styles/mixins.scss';

:root {
	font-family: 'Roboto Flex', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #000;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

#root {
	@include mixins.BLOCK_GAP;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}
